# Virtual environment
venv/

# VS Code
.vscode/

# Python bytecode
__pycache__/
*.py[cod]

# Environment files and secrets
.env
keys/

# Misc
.DS_Store
testAudio.mp3
# service-account keys
*.json
keys/audio-backend-key.json
